body{
    border: 0%;
    margin: 0%;
    padding: 0%;
}
.top{
    color: white;
    background-color: #29303B;
    height: 56px;
}

.top h1{
    margin:0%;
}
.logo{

    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.middle{
    display: flex;
}
.video{
    background-color: #14171C;
    width: 1012px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sidebar{
    background-color: white;
    /* width: 336px; */
    border-left: 0ch;
    padding-left: 0%;
    /* overflow-y: scroll; */
    height: 548px;
    border-top: 0ch;
}
.sidebar p{
    background-color: #FFFFFF;
    margin: 0%;
    height: 56px;
    font-size: larger;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #29303B;
}
.sidebar button{
    width: 335px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 4px; */
    margin-left: 2px;
    border: 0px;
    cursor: pointer;
}
.sidebar li{
    background-color: #EFEFEF;
    border-top: 1px solid black;
    list-style: none;
    

}
.sidebar ul{
    margin: 0%;
    margin-left: 0%;
    padding-inline-start: 0%;
}
.sidebar .scroll{
    overflow-y: scroll;
    height: 548px;
}
iframe{
    border: 0ch;
}
@media  screen and (max-width: 1068px) {
    .middle{
        flex-direction: column;
    }
    .sidebar{
        width: 60%;
    }
}