html{
    border: 0%;
    margin: 0%;
    padding: 0%;
}
body{
    border: 0%;
    margin: 0%;
    padding: 0%;
}
.top{
    color: white;
    background-color: #252525;
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top a{
    color: white;;
}

#icon{
    height: 56px;

}
#iconDiv{
    display:flex;
    align-items: center;
    justify-content: center;

}
.logo{

    width: 200px;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.middle{
    display: flex;
}
.videoAndTitle{
    width: 1012px;
    margin: 0;
    padding: 0;
    border: 0;
}
.video{
    background-color: #14171C;
    width: 1012px;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;

}
.sidebar{
    background-color: white;
    /* width: 336px; */
    border-left: 0ch;
    padding-left: 0%;
    /* overflow-y: scroll; */
    height: 548px;
    border-top: 0ch;
    width: 320px;
}
.sidebar p{
    background-color: #FFFFFF;
    margin: 0%;
    height: 56px;
    font-size: larger;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid #29303B;
}
.sidebar button{
    width: 335px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 4px; */
    border: 0px;
    cursor: pointer;
}
.sidebar input{
    border: none;

}
.sidebar li{
    background-color: #EFEFEF;
    border-top: 1px solid black;
    list-style: none;
    display: flex;
    

}
.sidebar ul{
    margin: 0%;
    margin-left: 0%;
    padding-inline-start: 0%;
}
.sidebar .scroll{
    overflow-y: scroll;
    height: 548px;
}
#mainVideo{
    border: 0ch;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

#resetButton{
    width: 11%;
    height: 80%;
    margin-right: 1%;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #E3004F;
    font-size: larger;
    font-weight: bolder;
}
#currentVideoTitle{
    margin-bottom: 0;
    margin-top: 2px;
    width: 100%;
    text-align: center;
    background-color: #14171cb6;
    color: white;
    font-size: x-large;
    padding: 10px;
}
@media  screen and (max-width: 1068px) {
    .middle{
        flex-direction: column;
    }
    .sidebar{
        width: 60%;
    }
    .sidebar button{
        width: 100%;
    }
    #currentVideoTitle{
        font-size: large;
    }
}
/*Link Search or Home Page */
#formDiv{
    /* background-color: #C40044; */
    
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    border: 0;
}
#linkSearch{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
    width: 80%;
    height: 20rem;
    border: black solid 1px;
    border-radius: 20px;
    
}
#linkInput{
    width: 80%;
    /* height: 4em; */
    padding: 2% 2%;
    text-align: center;
    margin-top: 2%;
    border: #14171C solid;
    border-radius: 8px;
    font-size: x-large;
    
}
#linkSearchbutton{
    width: 20%;
    /* height: 4em; */
    padding: 2% 2%;
    margin: 1% 1%;
    border: none;
    border-radius: 8px;
    background-color: #E3004F;
    color: white;
    font-size: x-large;
}
#logo{
    width: 29%;
    padding-right: 20px;
    padding-left: 20px;
}
#headline{
    width: 100%;
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
}
#userGuideHeading{
    text-align: center;
    font-size: 40px;
    font-weight:800;
}

#userGuideVideo{
    text-align: center;
}
#androidLink{
    text-align: center;
    font-size: 40px;
    font-weight:800;
}
#androidVideo{
    text-align: center;
}
hr{
    background-color: #E3004F;
    height: 11px;
}
@media  screen and (max-width: 1068px) {
    #formDiv{
        flex-direction: column;
    }
    #resetButton{
        width: max-content;
    }
    
}

/*Footer*/
footer{
    background-color:#252525; 
    display: flex;
    color: white;
}
#about{
    width: 50%;
    text-align: center;

    border-right: white 0.5px solid;
}
#about h1{
   color: #E3004F;
}
#about h3{
    margin: 0;
    font-weight: 100;

    padding: 5px 5px 5px 5px;
}
#socialLinks{
    width: 50%;
    text-align:left;
    border-left: white 0.5px solid;
    padding-left: 51px;
}
#socialLinks a{
    color: white;
    text-decoration: none;
}
#githubIcon{
    /* font-size:48px; */
    color:#E3004F;
}
/*Sweet Alert Npm Package*/
.swal-overlay {
    background-color:#14171c4f;
  }
  .swal-modal {
    background-color: #252525;
    border: 1px solid #E3004F;
  }
  .swal-text {
    padding: 17px;
    display: block;
    margin: 22px;
    text-align: center;
    font-size: large;
    color: white;
  }
  .swal-button {
    background-color: #E3004F;
    
  }